<!-- templates/create_list.html -->
{% extends "base.html" %} 
{% block title %}Create Word List{% endblock %} 
{% block content %}
<div class="container has-text-centered">
  <h1 class="title">Create Word List</h1>
  <form action="/save_list" method="post">
    <div class="field" style="margin-bottom: 20px">
      <label class="label">Name of the List:</label>
      <div class="control">
        <input class="input" type="text" name="list_name" placeholder="Enter the name of the list" required>
      </div>
    </div>
    <div class="field" style="margin-bottom: 20px">
      <label class="label">Words and Translations:</label>
      <div class="control">
        <textarea class="textarea" name="word_pairs" placeholder="Enter word and translation pairs (one per line)" required></textarea>
      </div>
    </div>
    <div class="field" style="margin-top: 20px">
      <div class="control">
        <button class="button is-primary" type="submit">Save List</button>
      </div>
    </div>
    <div class="field" style="margin-top: 20px">
      <label class="label">Continue from previous list:</label>
      <div class="control">
        <input class="input" type="text" name="previous_list" placeholder="Enter the name of the previous list to continue from">
      </div>
    </div>
  </form>
</div>
{% endblock %}
