<!-- templates/create_list.html -->
{% extends "base.html" %} {% block title %}Create Word List{% endblock %} {%
block content %}
<div class="">
  <h1 class="">Create Word List</h1>
  <form action="/save_list" method="post">
    <div class="" style="margin-bottom: 20px">
      <label class="">Name of the List:</label>
      <div class="">
        <input
          class=""
          type="text"
          name="list_name"
          placeholder="Enter the name of the list"
          required
        />
      </div>
    </div>
    <div class="" style="margin-bottom: 20px">
      <label class="">Words and Translations:</label>
      <div class="">
        <textarea
          class=""
          name="word_pairs"
          placeholder="Enter word and translation pairs (one per line)"
          required
        ></textarea>
      </div>
    </div>
    <div class="" style="margin-top: 20px">
      <div class="">
        <button class="" type="submit">Save List</button>
      </div>
    </div>
    <div class="" style="margin-top: 20px">
      <label class="">Continue from previous list:</label>
      <div class="">
        <select name="previous_list">
          <option value="">Select a previous list</option>
          {% for file in files %}
          <option value="{{ file }}">{{ file }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
  </form>
</div>
{% endblock %}
