{% extends "base.html" %} {% block title %}Vocabulary Trainer{% endblock %} {%
block content %}
<div class="container mx-auto px-4>
  <!-- SELECTED LIST -->
  <div class="" style="color: chocolate">{{selected_list}}<br /></div>
  <!-- TARGET WORD-->
  <div class="" style="margin-bottom: 20px">{{ target_word }}</div>
  
  <!-- CHECK ANSWER FORM -->
  <div class="" style="margin-bottom: 20px">
    <form action="/check_answer" method="post">
      {% for translation in translations %}
      <div class="">
        <button
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
          type="submit"
          name="selected_translation"
          value="{{ translation }}"
          style="font-size: 1rem; white-space: normal; padding: 1rem"
        >
          {{ translation }}
        </button>
      </div>
      {% endfor %}
    </form>
  </div>

  <!-- MESSAGE BASED ON USER'S SELECTION -->
  <div class="" style="">{{ message }}</div>

  <div class="" style="">
    <p class="" style="">Correct Answers: {{ correct_answers }}</p>
    <p class="" style="">Incorrect Answers: {{ incorrect_answers }}</p>
    <p class="" style="">Words Seen: {{ words_seen }}</p>
    <p class="" style="">Percentage Correct: {{ percentage_correct }}%</p>
  </div>

  <!-- CHOOSE LIST BUTTON -->
  <div class="">
    <button
      class=""
      type="button"
      onclick="window.location.href='/choose_list';"
    >
      Choose list
    </button>


    <!-- UPLOAD NEW LIST BUTTON -->
    <button class="" type="button" onclick="window.location.href='/upload';">
      Upload new list
    </button>
  </div>
</div>
{% endblock %}
