<!-- templates/upload.html -->
{% extends "base.html" %} {% block title %}Upload CSV File{% endblock %} {%
block content %}
<div class="" style="margin-top: 20px">
  <h1 class="">Upload CSV File</h1>
  <form class="" action="/upload" method="post" enctype="multipart/form-data">
    <div
      class=""
      style="margin-bottom: 20px; display: flex; justify-content: center"
    >
      <label class="" style="width: 50%">
        <input class="" type="file" name="file" />
        <span class="">
          <span class=""> Choose a file… </span>
        </span>
        <span class=""> No file chosen </span>
      </label>
    </div>
    <div class="" style="margin-top: 20px">
      <div class="">
        <button class="" type="submit">Upload</button>
      </div>
    </div>
  </form>
</div>
{% endblock %}
