<!-- templates/upload.html -->
{% extends "base.html" %} {% block title %}Upload CSV File{% endblock %} {%
block content %}
<div class="container has-text-centered" style="margin-top: 20px">
  <h1 class="title">Upload CSV File</h1>
  <form class="" action="/upload" method="post" enctype="multipart/form-data">
    <div
      class="file is-boxed has-name is-fullwidth"
      style="margin-bottom: 20px; display: flex; justify-content: center"
    >
      <label class="file-label" style="width: 50%">
        <input class="file-input" type="file" name="file" />
        <span class="file-cta">
          <span class="file-label"> Choose a file… </span>
        </span>
        <span class="file-name"> No file chosen </span>
      </label>
    </div>
    <div class="field" style="margin-top: 20px">
      <div class="control">
        <button class="button is-primary" type="submit">Upload</button>
      </div>
    </div>
  </form>
</div>
{% endblock %}
